* {
	margin: 0;
	padding: 0;
}

#app {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 10px 31%;
	background: #fafafa;
	border: 1px solid silver;
	border-radius: 20px;
	padding: 1.2% 2%;
	color: #474747;
	font-size: 1.1rem;
}

.card_sb {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input {
	padding: 4% 8%;
	border-radius: 20px;
	border: 1px solid silver;
}

.add_btn {
	padding: 4% 8%;
	background-color: #66aa4e;
	border-radius: 20px;
	border: none;
	color: white;
}

.remove_btn {
	padding: 4% 8%;
	background-color: #f16a6a;
	border-radius: 20px;
	border: none;
	color: white;
}

ul {
	list-style: none;
}

ul li {
	margin-top: 20px;
}